.proyectos {
    text-align: center;
    padding: 30px 0;
}

.proyectos>h2 {
    padding: 40px 0 15px;
    font-size: clamp(1.4rem, 2vw, 1.9rem);
}

.title-proyecto {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.flex-container-proyectos {
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.grid-container__div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 70px;
    padding: 20px 0;
    align-items: center;
}

.grid-container__div img {
    width: 100%;
    border: 1px solid #a3a3a364;
}

.grid-container__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.span {
    width: 100%;
    text-align: start;
}

.grid-container__info span {
    padding: .18rem .6rem;
    border: 1px solid #4080AD;
    color: #4080AD;
    border-radius: 50px;
    margin-right: 5px;
}

.span>span,
.span>a>span {
    font-size: 14px;
}

.grid-container__p {
    text-align: start;
    letter-spacing: 1px;
    font-size: 17px;
}

.grid-container__div a {
    text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width:768px) {

    .grid-container__div {
        gap: 30px;
    }

    .grid-container__info {
        align-items: center;
    }

    .grid-container__p {
        text-align: center;
    }

    .span {
        text-align: center;
    }
}

@media (max-width:510px) {

    .ul {
        justify-content: center;
    }

    .span {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }

    .sitio-web {
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .repo {
        grid-column: 2/4;
        grid-row: 2/4;
    }

    .grid-container__info span {
        margin: 0;
    }

    .grid-container__div {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width:375px) {

    .span {
        grid-template-columns: 1fr;
    }

    .sitio-web,
    .repo {
        grid-column: auto;
        grid-row: auto;
    }
}