.proyectos {
    text-align: center;
    padding: 30px 0;
}

.proyectos>h2 {
    padding: 40px 0 15px;
    font-size: 30px;
}

.title-proyecto {
    font-size: 20px;
}

.grid-container {
    display: grid;
    gap: 70px;
    padding: 40px;
    grid-template-rows: repeat(8, 1fr);
    align-items: end;
    justify-content: center;
}

.grid-container__div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.grid-container__div img {
    width: 500px;
    border: 1px solid #a3a3a364;
}

.grid-container__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
}

.grid-container__info span {
    padding: .18rem .6rem;
    border: 1px solid #4080AD;
    color: #4080AD;
    border-radius: 999px;
    margin-right: 5px;
}

.span>span,
.span>a>span {
    font-size: 14px;
}


.grid-container__p {
    text-align: start;
    letter-spacing: 1px;
    font-size: 17px;
}

.grid-container__div a {
    text-decoration: none;
}