.footer {
    text-align: center;
    padding: 30px 0 10px;
    background: linear-gradient(to bottom, #FFFFFF, #e9e9e9);
}

.title-footer {
    padding: 40px 0 20px;
    font-size: clamp(1.4rem, 2vw, 1.9rem);
    text-align: center;
}

.caption {
    margin: 20px 0;
    padding: 10px;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 1.5rem);
    text-align: center;
}

.iconos-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
}

.iconos-footer-container>a {
    text-decoration: none;
    color: #000000;
}

.iconos-footer-container>a>i {
    font-size: 32px;
}

.footer p {
    padding-bottom: 30px;
}

/* FORM */

.form {
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-direction: column;
}

.form .campos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 15px;
    max-width: 600px;
    width: 100%;
}

.btn-enviar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campos input,
.campos textarea {
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 16px;
    align-self: start;
    width: 100%;
    padding: 15px;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid #000000;
    font-size: 16px;
}

input::placeholder,
textarea::placeholder {
    color: #999;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

/* .msj-error {
    font-style: italic;
    color: rgb(215, 0, 0);
    width: 560px;
    text-align: left;
    padding-left: 10px;
} */

.btn-enviar {
    margin-top: 15px;
}

.btn {
    padding: 15px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    width: 150px;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    background: #FFFFFF;
    color: #000000;
}

/* MEDIA QUERY */

@media (max-width:550px) {

    .title-footer {
        padding: 40px 20px 20px;
    }
}