.sobre-mi {
    padding: 30px 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 15px;
    flex-wrap: wrap;
}

.mi-img {
    transition: box-shadow .3s linear;
    width: 350px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px -5px rgb(83, 209, 255);
}

.mi-img:hover {
    box-shadow: 0px 0px 40px 7px rgb(83, 209, 255);
}

.info-container {
    width: 700px;
    padding: 20px;
}

.info-container>:first-child {
    font-size: clamp(1.7rem, 2.5vw, 2.3rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #272727;
    padding: 10px 0;
}

.info-container .strong strong {
    padding: 10px 0;
    background: linear-gradient(90deg, #FF7F50, #1E90FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-container>:nth-child(3) {
    padding: 10px 0;
    line-height: 1.5;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.contacto-container {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 10px 0;
}

.contacto__link>.linkedin,
.contacto__link>.github,
.contacto__link>.cv {
    width: 45px;
    transition: transform ease-in-out .2s;
}

.contacto__link>.linkedin:hover,
.contacto__link>.github:hover,
.contacto__link>.cv:hover {
    transform: translateY(-5px);
}

/* SOBRE MI - SKILLS */

.skills-container {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
    overflow: hidden;
}

.skills-container>h2 {
    text-align: center;
    margin-bottom: 10px;
    padding: 20px 0;
    color: #272727;
    font-size: clamp(1.4rem, 2vw, 1.9rem);
    padding: 30px 0;
}

.carrousel-container {
    display: flex;
    align-items: center;
    width: 450px;
    overflow: hidden;
}

.carrousel {
    display: flex;
    gap: 1rem;
    animation: scroll 10s linear infinite;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    min-width: 80px;
}

.skill-item img {
    height: 70px;
}

.carrousel:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

