* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------- */

html {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #FAFAFA, #FFFFFF);
}

/* --------------------- */

body {
    font-family: 'Open Sans', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p,
strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#sobre-mi,
#proyectos,
#contacto {
    scroll-margin-top: 80px;
}